@import "tailwindcss";

:root {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #111827;
  background: #f8fafc;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  display: block;
}
